/*.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.flex-container {
    outline: 1px solid red;
    display: flex;
    flex-direction: row;
    height: 300px;
    align-items: center;
    justify-content: center;
}

.flex-child {
    outline: 1px solid black;
    width: 20%;
    order: 2;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-child:nth-child(2) {
    order: 1;
    align-self: flex-end;
}*/

/* %, px, vw, vh, rem, em */
/*vw: viewport width */
/*vh: vieport height */

.header {
  padding: 30px 0;
  outline: 1px solid black;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: auto;
}

.header__social {
  width: 55px;
  height: 55px;
  margin-right: 6px;
}

.header__btn {
  min-width: 190px;
  margin-right: 20px;
  background-color: #3e3e3e;
}

.header__phone {
  font-weight: 700;
  font-size: 20px;

  color: #3e3e3e;
}

/* intro section start */

.intro {
  padding-top: 80px;
  margin-bottom: 100px;
}

.intro__title {
  font-size: 42px;

  color: #101318;
}

.intro__text {
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 137px;

  color: #101318;
}

.intro__picture {
  width: 100%;
  height: 100%;
  max-height: 540px;
  min-height: 200px;
}

/* intro section end */

/* features section start */

.features {
  padding-top: 20px;
  margin-bottom: 100px;
}

.features__title {
  margin-bottom: 10px;
}

.features__text {
  max-width: 1230px;
  margin-bottom: 10px;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
}

.features__list-item {
  display: flex;
  align-items: center;
  width: 25%;
  min-width: 300px;
  margin: 20px 0;
  padding-right: 20px;
  outline: 1px solid red;
}

.features__list-item img {
  margin-right: 10px;
}

/* features section end */

/* chars start */

.chars__container {
  display: flex;
}

.chars__img {
  width: 65%;
  height: 100%;
  max-height: 730px;
  max-width: 1100px;
  margin-right: auto;
  object-fit: contain;
}

.chars__content {
  width: 35%;
  max-width: 580px;
  padding-left: 20px;
  outline: 1px solid red;
}

.chars__title {
  margin-bottom: 10px;
}

.chars__list {
  margin-bottom: 15px;
}

.chars__list li {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid rgba(62, 62, 62, 0.5);
}

.chars__list li span {
  font-size: 14px;
  font-weight: 400;
  width: 50%;
  color: #101318;
}

.chars__list li span:first-child {
  padding-right: 20px;
}

.chars__list li span:last-child {
  text-align: right;
}

/*accordeon*/

.accordeon {
}

.accordeon__header {
  position: relative;
  padding: 10px 0;
  outline: 1px solid red;
  padding-right: 30px;
  cursor: pointer;
}

.accordeon__header span {
  font-weight: 400;
  font-size: 24px;

  color: #101318;
}

.accordeon__header::after {
  position: absolute;
  top: 17px;
  right: 0;

  width: 16px;
  height: 16px;

  content: "";

  background-image: url("../img/icon-plus.svg");
  background-size: 16px;
  background-repeat: no-repeat;
}

.description__field {
  display: flex;
  align-items: center;
}

.img__order {
  order: 2;
}

/*.description {
  display: flex;
  justify-content: center;
}

.description__title {
  display: flex;
  padding-top: 20px;
  margin-bottom: 100px;
}

.description__text {
  display: flexbox;
  padding-top: 20px;
  margin-bottom: 100px;
}*/

/* chars end*/
